.endGameModal {
    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
}

.endGameDiv {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    grid-template-columns: 1fr;
}

.endText {
    display: flex;
    justify-self: center;
    align-self: end;
}

.winnerDiv {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 2%;
    background-color: var(--ELCblack);
    border: 3px whitesmoke solid;
    border-radius: 20px;
}

.loserDiv {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
    padding: 2%;
    background-color: var(--ELCblack);
    border: 3px whitesmoke solid;
    border-radius: 20px;
}